:root,
:root[theme='ASCETIC'] {
  --primary: black;

  --heading: black;
  --font: black;

  --background-primary: #36393E;
  --background-secondary: #262626;
  --background-tertiary: #000000;
}

:root[theme='DISCORD'] {
  --primary: #7289DA;

  --heading: #000000;
  --font: #000000;

  --background-primary: #929292;
  --background-secondary: #606060;
  --background-tertiary: #444444;
}