doctype
html(lang='en')
  head
    include includes/header.pug

    link(rel='stylesheet', href='/css/index.css')
  body
    include includes/navbar.pug
    .jumbotron.text-center.bg-transparent
      h1.display-3 Rockstar Weekly
      p.lead Get the latest GTA Online and Red Dead Online bonuses.
      a.btn.btn-dark(href='/invite') Add